# Chapter 4 - Data Types and Structures

<br></br><br></br>
## 1 기본자료형
정수

### 01 숫자
Integer/ float

In [1]:
a = 10
a.bit_length() # 정수의 bit 수를 출력

4

### 02 문자
String

In [2]:
t = 'this is a Strong object.'

In [3]:
# 문장의 첫단어를 대문자로 변환한다
t.capitalize()

'This is a strong object.'

In [4]:
# Split by Word 
t.split()

['this', 'is', 'a', 'Strong', 'object.']

In [5]:
'https://www.python.org'.split('://')

['https', 'www.python.org']

In [6]:
# 특정 단어가 나타나는 Index값
t.find('object')

17

In [7]:
t.find('python') # 내용이 없으면 '-1'을 출력한다

-1

### 03 문자
by Regular Express

In [8]:
import re
series = """'01/18/2014 13:00:00', 100, '1st';
'01/18/2014 13:30:00', 110, '2nd';
'01/18/2014 14:00:00', 120, '3rd'"""

In [10]:
# datetime
dt = re.compile("'[0-9/:\s]+'")    # 정규식 모델
result = dt.findall(series)        # 정규식에 해당 객체들 list로 추출
result

["'01/18/2014 13:00:00'", "'01/18/2014 13:30:00'", "'01/18/2014 14:00:00'"]

In [13]:
# %m %d %Y 의 포맷이 일치해야 정상적 추출가능
from datetime import datetime
pydt = datetime.strptime(result[0].replace("'", ""),
                         '%m/%d/%Y %H:%M:%S')
pydt

datetime.datetime(2014, 1, 18, 13, 0)

In [15]:
print(pydt)

2014-01-18 13:00:00

In [16]:
print(type(pydt))

<class 'datetime.datetime'>

<br></br><br></br>
## 2 기본 자료구조
Data Structure

### 01 튜플
tuple 수정이 어려워서 유연성이 떨어진다

In [19]:
t = 1, 2.5, 'data'
tuple(t)

(1, 2.5, 'data')

In [20]:
t[2]

'data'

### 02 [ list ]
유연해서 활용에 용이하다

In [47]:
l = [1, 2.5, 'data']

In [48]:
l.append([4,3]); l

[1, 2.5, 'data', [4, 3]]

In [49]:
l = l + [1,2,3]; l

[1, 2.5, 'data', [4, 3], 1, 2, 3]

In [50]:
l.insert(1,'insert'); l

[1, 'insert', 2.5, 'data', [4, 3], 1, 2, 3]

In [51]:
# 해당 객체를 삭제한다
l.remove('data'); l

[1, 'insert', 2.5, [4, 3], 1, 2, 3]

In [52]:
# 해당 index의 자료를 출력하고, 자료에서 삭제한다
l.pop(3)

[4, 3]

In [53]:
l

[1, 'insert', 2.5, 1, 2, 3]

<br></br><br></br>
## 3 제어구조
유연해서 활용에 용이하다

### 01 기본구조형
for/ if

In [54]:
for element in l[2:5]:
    print(element * 2)

5.0
2
4

In [55]:
r = range(0,8,1); r

range(0, 8)

In [58]:
for i in range(1, 10):
    if i % 2 == 0:  # % is for modulo
        print("%d is even" % i)
    elif i % 3 == 0:
        print("%d is multiple of 3" % i)
    else:
        print("%d is odd" % i)

1 is odd
2 is even
3 is multiple of 3
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is multiple of 3

In [59]:
total = 0
while total < 100:
    total += 1
print(total)

100

In [60]:
# 리스트 조건제시법
m = [i ** 2 for i in range(5)]
m

[0, 1, 4, 9, 16]

### 02 함수형 프로그래밍
filter, map, reduce : 이들은 [list] 객체에 적용한다

In [61]:
def f(x):
    return x ** 2
f(2)

4

In [62]:
def even(x):
    return x % 2 == 0
even(3)

False

In [66]:
# map() : 각 list 객체에 함수를 그대로 적용
list(map(even, range(10)))

[True, False, True, False, True, False, True, False, True, False]

In [64]:
list(map(lambda x: x ** 2, range(10)))  # True 결과값에 적용한 함수를 lambda로 적용

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [65]:
# filter() : 각 list 객체에 함수적용 후 True 값만 List로 추출 (추가 연산을 한다)
list(filter(even, range(15)))

[0, 2, 4, 6, 8, 10, 12, 14]

<br></br><br></br>
## 4 Numpy

In [67]:
import numpy as np

In [ ]:
a -